.causalities-section {
  width: 100%;
  padding: 1rem 0.5rem;
}

.causalities-scroll-area {
  height: 17rem;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

.causalities-title {
  position: absolute;
  top: 295px;
  padding: 0 0.25rem;
  width: fit-content;
  margin-block-end: 0;
  background-color: #242424;
}

.causalities-token-area {
  display: grid;
  padding: 0 0.5rem;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}

.causality {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.125rem 0.5rem 0.5rem;
  margin: 0.5rem 0;
  border-radius: 10px;
  background-color: #4c396e;
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.2)
}

.causality-title-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5rem;
}

.causality-status {
  letter-spacing: 0px;
}

.causality-status [data-status="Pending"] {
  color: #e2a336;
}

.causality-status [data-status="Complete"] {
  color: #47d461;
}

.causality-delete, .causality-reset {
  margin-top: 0.125rem;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.causality-cause-effect-area {
  display: flex;
}

.causality-cause {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: fit-content;
  flex: 1;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #555555;
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.2)
}

.causality-cause-when {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.causality-cause-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
}

.causality-cause-image {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
}

.causality-cause-name {
  font-size: 16px;
  font-weight: 600;
}

.causality-cause-trigger-settings {
  display: block;
  width: 100%;
}

.causality-cause-trigger-settings select {
  width: 100%;
}

.causality-effect {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #4c396e;
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.4)
}

.causality-effect-delete {
  position: absolute;
  top: 3px;
  right: 0px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.causality-effect:last-child {
  margin-bottom: 0;
}

.causality-effect-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
}

.causality-effect-image {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
}

.causality-effect-name {
  font-size: 16px;
  font-weight: 600;
}

.causality-effect-name span {
  font-weight: 400;
}

.causality-effect-action-settings {
  align-self: center;
  width: 100%;
}

.causality-effect-action-settings select {
  width: 100%;
}

.causality-footer-area {
  display: flex;
  justify-content: space-between;
  margin-top: 0.625rem;
  font-size: 14px;
  font-weight: 600;
}

.causality-time-delay {
  display: flex;
}

.causality-time-delay-icon {
  width: 20px;
  height: 20px;
}

.causality-time-delay-selection {
  margin-left: 0.5rem;
}
