.app-main {
  padding: 0.5rem 1rem;
}

.app-header-area {
  position: relative;
  margin-block-end: 1.5rem;
}

.app-header {
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
}

.app-header-area p {
  position: absolute;
  top: 52px;
  left: 188px;
  color: #b9f;
  font-size: 18px;
  font-weight: 100;
}

.app-header-icon {
  margin-top: -3px;
  margin-left: 0.5rem;
  width: 70px;
}
